/vendor/
/node_modules/
/public/build/
/public/storage
/storage/*.key

.env
.env.*
/.phpunit.result.cache
Homestead.yaml
Homestead.json
.phpstorm.meta.php

.idea/
/.vscode/

composer.lock
package-lock.json
pnpm-lock.yaml
yarn.lock

/build-artifacts/
